body {
  background-color: #EAE7DC;
  background-size: cover;
  /* Pour redimensionner l'image pour remplir tout l'arrière-plan */
  background-repeat: no-repeat;
  /* Pour empêcher la répétition de l'image */
  background-attachment: fixed;
  /* Pour que l'image reste fixe lors du défilement de la page */
  background-position: center center;
  /* Pour centrer l'image à l'arrière-plan */
  font-family: 'Philosopher', sans-serif;
}


h1 {
  font-size: 2.5em;
  font-family: 'Young Serif';
  color: #E85A4F;
  border: #8E8D8A ridge;
  padding-left: 5%;
  padding-right: 5%;
}

.Entete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  border: 1.5px solid #E85A4F;
  width: 30vw;
  height: auto;
  align-self: center;
  justify-self: center;
}

#firstP {
  font-size: 28px;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  list-style-position: inside;
}

li {
  font-size: 22px;

}

a {
  color: #E85A4F;
  text-decoration: none;
}
